<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="workstation id=SansaleDB.mssql.somee.com;packet size=4096;user id=tan_SQLLogin_1;pwd=xs6b7jqxj2;data source=SansaleDB.mssql.somee.com;persist security info=False;initial catalog=SansaleDB" name="SansaleDB" />
    </connectionStrings>
</configuration>
