.scroll-to-top {
    position: fixed;
    bottom: 10rem;
    right: 3rem;
    animation: fadeIn 700ms ease-in-out 1s both;
    cursor: pointer;
  }
.backtotop{
    width: 30px;
    height: 30px;

}
.backtotop svg{
    width: 30px;
    height: 30px;

}  