:root {
    --primary-color: #113F67;
    --secondary-color: #226597;
    --third-color: #87C0CD;
}

.container{
    background-color: white;
}
.container-bv{
    background-color: var(--third-color);
    height:100%;
}
.baiviet{
    height: 100%;
    background-color: white;
    margin: 60px 100px 20px 100px;
}
.baiviet-body{
}
.title{
    text-align: center;
    font-size: 4rem;
}
.metatitle{
    font-size: 16px;
    font-style: italic;

}
.image{
    text-align: center;
    margin: 30px;
}
p{
    font-size: 16px;

}
ul{
    margin-left: 20px!important;
    font-size: 16px;

}
.card-horizontal-a {
    display: flex;
    width: 100%;
    text-align: justify;
}
.img-square  {
    margin:10px ;
    width: 20%!important;
    height: 200px;

}
.img-square img {
    
    width: 200px!important;
    height: 200px;

}
.card-body1{
    width: 80%;
    height: 200px;
}
.card-title1{
 
}
.card-text1{
    font-size: 1.4rem;
    font-weight: 400;
    color: #808080;
    line-height: 1.8rem;
    height: 75px;
    margin:10px 10px 10px 0px ;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}
.card{
    height: 100%!important;
}
.card-baiviet{
    display: block;
    margin-top: 10px;
    position: relative;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transfrom linear 0.1s;
    will-change: transfrom;
    color: black;
    border-radius: 10px;
}
.card-baiviet:hover {
    text-decoration: none;
  
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.5);
  }
  /* tieude */
  
/* codfe.com - code 1 */
.vi-header {
    margin-top: 20px;
   
	border-bottom:solid 1px #0056a8;
}
.vi-left-title {
	width:250px;
    height: 32px;
	background:#0056a8;
	color:#fff;
	padding:3px 10px;
	font-size:18px;
	position:relative;
	margin:0;
    text-align: center;
}
.pull-left {
	float:left;
}
.pull-left {
    margin-left:0!important;

}
.vi-left-title a {
	color:#fff;
}

.vi-left-title:after {
	border:16px solid transparent;
	border-left-color:#0056a8;
	border-bottom-color:#0056a8;
	position:absolute;
	top:0;
	left:100%;
	content:"";
}
.pull-right {
	float:right;
}
.pull-right {
	margin-right:0 !important;
}
.vi-right-link a:first-child {
	margin-left:0;
}
.vi-right-link a {
	color:#555;
	font-size:14px;
	margin-left:15px;
}
.vi-right-link a.vi-more,.vi-right-link a:hover {
    margin-right: 30px;
	color:#0056a8;
}
.vi-right-link a.vi-more:after {
	
	font-family:FontAwesome;
	margin-left: 4px;
}

