.iconmofrom {
  border: none;
}
.iconmofrom svg {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 150px;
  left: 6px;
  z-index: 9;
  background-color: #226597;
  border-radius: 20px;
}
th {
  border: 1px solid rgb(0, 0, 0, 0.3) !important;
}
td {
  border: 1px solid rgb(0, 0, 0, 0.3) !important;
}
.my-custom-scrollbar {
  position: relative;
  border: 1px solid rgb(0, 0, 0, 0.3) !important;
  height: 500px;
  overflow: auto;

}

.table-wrapper-scroll-y {
  display: block;
}

.table-responsive{
  height: 500px!important;
}




.invalid-field {
  border-color: #dc3545;
  color: #dc3545;
  background-color: #fff;
}
.dropdown {
  margin: 5px 1px;
  text-align: center;

}

.sort_button {
  padding: 15px;
  display: flex;
}
.select-input{
  margin-top: 12px;
}
.buttonxuat{
  width: 100px;
  height: 35px;
  margin-top: 8px;
  text-align: center;
}
