@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* EDF6E5 */
/* :root {
  --primary-color: #113f67;
  --secondary-color: #226597;
  --third-color: #87c0cd;
} */
