:root {
    --primary-color: #113F67;
    --secondary-color: #226597;
    --third-color: #87C0CD;
}
.footer-header{
    background-color: var(--third-color);
    
}
.footer-home{
    padding: 30px;
    background-color: var(--third-color);
}
.footer-home-bot{
    background-color: var(--secondary-color);
    color: white!important;
}
.title-footer{
    font-size: 30px!important;
    font-weight: 500;
     
}
.logo-footer{
    display: block;
    text-align: center;
}
.logo-footer-logo{
    display: flex;
    justify-content: center;    

}
.logo-footer-logo .logo1{
    display: flex;
    width: 50px!important;
    height: 50px!important;
    margin-right: 20px;

    

}
.logo-footer-logo1 {
    width: 250px!important;
    height: 80px!important;
    margin: 0 auto;
    

}
.list{
  color: black!important;
}
.list-unstyled{
  color: var(--primary-color);
   font-size: 14px;
   margin-top: 20px;

}
.list-unstyled:hover{
    color: black;
text-decoration: none;
  
  }
.logo-footer-logo-mxh{
    display: flex;
}
.logo-mxh{
    width: 25px;
    height: 25px;
    margin: 0 auto;
}